.ionide/
.vscode/
.older/
.clj-kondo/
.lsp/
.cpcache/
/*/settings.json
target/
/../target/
/../target/*
.lein-failures
.lein-repl-history
.nrepl-port
.idea/
*.iml
/../.lein-failures
/../.lein-repl-history
/../.nrepl-port
cleanup.*
HELP.md
HINTS.md
.vscode/*
.fake
settings.json