.vscode
.vscode/*
.ionide/
!/../settings.json
target/
/../target/
/../target/*
# /*/target/
.lein-failures
.lein-repl-history
.nrepl-port
.idea/
*.iml
/../.lein-failures
/../.lein-repl-history
/../.nrepl-port
# /../.solution.json
cleanup.*